<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a routerLink="/" class="brand-logo">ICO Admin</a>
            <a materialize="sideNav" href="#" data-activates="mobile-sideNav" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a routerLink="/projects">Projects</a></li>
            </ul>
            <ul class="side-nav" id="mobile-sideNav">
                <li><a routerLink="/projects"><i class="material-icons left">account_balance_wallet</i>Projects</a></li>
            </ul>
        </div>
    </div>
</nav>