<header></header>

<main class="container">
    <div class="row">
        <div class="section">
            <h4 class="header">Projects<a data-target="newWallet" class="modal-trigger right btn-floating waves-effect red"><i class="material-icons">add</i></a></h4>

            <ul id="projects" class="collapsible popout" data-collapsible="accordion" materialize="collapsible">
                <li *ngFor="let project of projects">
                    <div class="collapsible-header">{{project.name}}</div>
                    <div class="collapsible-body" id="project{{project.id}}">
                        <div class="fixed-action-btn horizontal">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">menu</i>
                            </a>
                            <ul>
                                <li><a id="openEditBtn{{project.id}}" (click)="openEditProject(project.id)" class="btn-floating waves-effect blue"><i class="material-icons">mode_edit</i></a></li>
                                <li><a id="updateBtn{{project.id}}" (click)="updateProject(project.id)" class="btn-floating waves-effect green disabled"><i class="material-icons">save</i></a></li>
                                <li><a (click)="deleteProject(project.id)" class="btn-floating waves-effect red"><i class="material-icons">delete_forever</i></a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col s12 m7">
                                <div class="input-field col s12">
                                    <input class="validate" id="projectName{{project.id}}" type="text" disabled value="{{project.name}}">
                                    <label class="active" for="projectName{{project.id}}">Project name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input class="validate" id="ticker{{project.id}}" type="text" disabled value="{{project.ticker}}">
                                    <label class="active" for="ticker{{project.id}}">Ticker</label>
                                </div>
                                <div class="col s12">
                                    <p>Wallets</p>
                                    <div class="chips" id="wallets{{project.id}}">
                                        <div class="chip" *ngFor="let wallet of project.wallets.split(',')">
                                            {{wallet}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m5">
                                <div class="currency">
                                    <div class="currency__symbol red-text">BTC</div>
                                    <div class="currency__total" id="BTC{{project.id}}">{{project.price_btc}}</div>
                                </div>
                                <div class="currency">
                                    <div class="currency__symbol red-text">ETH</div>
                                    <div class="currency__total" id="ETH{{project.id}}">{{project.price_eth}}</div>
                                </div>
                                <div class="currency">
                                    <div class="currency__symbol red-text">USD</div>
                                    <div class="currency__total" id="USD{{project.id}}">{{project.price_usd}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<form id="newWallet" class="modal" materialize="modal" (submit)="addProject($event)" [materializeActions]="newWalletModal" [materializeParams]="[{dismissible: false}]">
    <div class="modal-wrapper">
        <div class="modal-content">
            <h4>New project</h4>
            <div class="col s12">
                <div class="input-field">
                    <input class="validate" id="projectName" type="text" [(ngModel)]="model.name" name="name">
                    <label for="projectName">Project name <span class="red-text">*</span></label>
                </div>
                <div class="input-field">
                    <input class="validate" id="projectTicker" type="text" [(ngModel)]="model.ticker" name="ticker">
                    <label for="projectTicker">Ticker <span class="red-text">*</span></label>
                </div>
                <div class="input-field">
                    <span>Wallets <span class="red-text">*</span></span>
                    <div class="chips" id="projectWallets" materialize="material_chip" [materializeParams]="[{placeholder:'Enter wallet address'}]"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action waves-effect waves-green btn-flat">Create</button>
            <button (click)="closeModal()" type="button" class="modal-action waves-effect waves-red btn-flat">Cancel</button>
        </div>
    </div>
</form>